**/*.ipynb_checkpoints
# package directories
rest-api/node_modules
jspm_packages

# Serverless directories
.serverless

# Environment Variables
variables.env


rest-api/package-json.lock

secrets.json